@charset "utf-8";

html{
    height: 100%;
    width: 100%;
}

body{
    max-width: 1064px;
    /*パディング分を考慮して*/
    min-width: 1064px;
    /*パディング分を考慮して*/
    margin: auto;
    padding: 40px;
}

.Contribution > textarea{
     /*手動リサイズを禁止*/
    resize: none;
     /*高さの最小値を指定*/
    min-height: 800px;
    padding: 0.5em;
    width: 80%;
    /*入力する文字の大きさを指定*/
    font-size: 450%; 
    /*入力する文字のテキストを指定（明朝体）*/
    font-family: serif;
}